* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}
//variables
//dark mode
$dark-mode-background: hsl(230, 17%, 14%);
$dark-mode-text: rgb(255, 255, 255);
$dark-mode-card-bg: hsl(228, 28%, 20%) ;
$dark-mode-background-top-bg: hsl(232, 19%, 15%);

//light mode
$light-mode-background:hsl(0, 0%, 100%);
$light-mode-text: hsl(228, 12%, 44%);
$light-mode-card-bg: hsl(227, 47%, 96%);
$light-mode-background-top-bg: hsl(225, 100%, 98%);

body {
  font-family: 'Inter', sans-serif;
  background-color: $dark-mode-background;
  color: $dark-mode-text;
  font-size: 14px;
}
.bg-background-light {
background-color: $light-mode-background;
color: $light-mode-text;
}
.header { 
  padding: 39px 24px 80px 24px;
  background-color: $dark-mode-background-top-bg;
  border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.bg-header-background {
  background-color: $light-mode-background-top-bg;
}
.header__title {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  padding-bottom: 3px;
}
  .header__info {
    padding-bottom: 20px;
    border-bottom: 0.1px solid white;
    font-weight: 700;
}
.switch {
  margin-top: 0px;
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  } 
  .swithCtl {
    margin: 15px auto 0;
    /*width: 60%;*/
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%) );
    -webkit-transition: .4s;
    transition: .4s;
  } 
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 3px;
    background-color: $dark-mode-background;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color:  #ccc;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
   }
    /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
  main {
    position: relative;
    text-align: center;
}
.primary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
  .cards__wrapper {   
    margin: auto;
   // background-color: brown;
    position: relative;
    margin: auto;
    top: -42px;
    border-radius: 10px;
}
.primary__card {
  width: 327px;
  background-color: $dark-mode-card-bg;
border: 1px solid transparent;
margin: 0 auto 25px;
border-radius: 10px;
padding-bottom: 25px;
}
.bg-card-background-light {
  background-color: $light-mode-card-bg;
}
.facebook {
  padding: 33px 0;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.followers__num {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 5px;
}

.followers__details {
    padding-bottom: 25px;
}